@model NueroDrive.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h2 class="text-center">@ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 position-relative">
                        <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" type="password" />
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <button type="button" class="btn btn-link position-absolute end-0 top-50 translate-middle-y text-decoration-none toggle-password" style="z-index: 10; height: 40px; margin-top: -3px;" aria-label="Toggle password visibility">
                            <i class="bi bi-eye-slash"></i>
                        </button>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <p>
                    <a asp-action="Register">Register as a new user</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 